<div class="ui top attached pull tabular stackable menu">
	<a class="item {{if .PageIsPullConversation}}active{{end}}" href="{{.RepoLink}}/pulls/{{.Issue.Index}}">
		{{svg "octicon-comment-discussion"}}
		{{$.i18n.Tr "repo.pulls.tab_conversation"}}
		{{if .Issue.NumComments}}
			<span class="ui primary small label">{{.Issue.NumComments}}</span>
		{{end}}
	</a>
	<a class="item {{if .PageIsPullCommits}}active{{end}}" {{if .NumCommits}}href="{{.RepoLink}}/pulls/{{.Issue.Index}}/commits"{{end}}>
		{{svg "octicon-git-commit"}}
		{{$.i18n.Tr "repo.pulls.tab_commits"}}
		{{if .NumCommits}}
			<span class="ui primary small label">{{.NumCommits}}</span>
		{{end}}
	</a>
	<a class="item {{if .PageIsPullFiles}}active{{end}}" {{if .NumFiles}}href="{{.RepoLink}}/pulls/{{.Issue.Index}}/files"{{end}}>
		{{svg "octicon-diff"}}
		{{$.i18n.Tr "repo.pulls.tab_files"}}
		{{if .NumFiles}}
			<span class="ui primary small label">{{.NumFiles}}</span>
		{{end}}
	</a>
</div>
